.tabs {
  margin-top: 200px;
  border-radius: 8px;

  &__content {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    &.js-active {
      background-color: $primary-color;
      display: block;
    }
  }

  &__list {
    @include list-unstyled;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    line-height: 24px;
    margin-top: -1px;
    background: rgba(255, 255, 255, 0.8);
  }

  &__item {
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    color: $primary-color;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    &:first-child {
      border-top-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
    }


    &.js-active {
      color: #fff;
      background-color: $primary-color;
    }
  }
}
