html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #535252;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline-style: none;
}

img {
  height: auto;
  max-width: 100%;
  width: auto;
}

button {
  outline-style: none;
}
